doctype html
html(ng-app='Wkline')
	head
		meta(charset='utf-8')
		meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width,initial-scale=1.0')

		title Statusline

		link(rel='stylesheet', href='static/css/main.css', type='text/css')

	body
		#statusline(ng-cloak, ng-controller='WklineCtrl')
			#left
				ul.widget#tags(ng-show='widget.desktop')
					li.tag(ng-repeat='(idx, d) in widget.desktop.desktops', ng-class='{selected: (idx == widget.desktop.current_desktop), urgent: false, "has-windows": d.clients_len > 0}')
						span.name(ng-bind='idx + 1')

				.widget#layout(ng-show='widget.layout')
					.name(ng-bind='widget.layout.name')

				.widget#window(ng-show='widget.desktop.current_window')
					.name(ng-bind='widget.desktop.current_window')

			#right
				ul.widget#notification(ng-show='widget.notifications')
					li(ng-repeat='(i, n) in widget.notifications', ng-class='n.class', ng-click='widget.notifications.splice(i, 1)')
						i(ng-class='n.icon')
						.content
							span.summary(ng-bind='n.summary')
							span.body(ng-bind='n.body')

				.widget#player(ng-show='widget.music')
					.time
						span.current(ng-bind='widget.music.time_current')
						span.total(ng-bind='widget.music.time_total')
					.progress
						.bar(ng-style='{width: widget.music.time_percent + "%"}')
					.song
						span.artist(ng-bind='widget.music.artist')
						span.title(ng-bind='widget.music.title')

				.widget#weather(ng-show='widget.weather')
					img.icon(ng-src='static/img/weather/{{widget.weather.icon || "na"}}.svg')
					span.temp(ng-class='widget.weather.unit', ng-bind='widget.weather.temp') 0

				.widget#volume(ng-show='widget.volume')
					i.fa.fa-volume-off(ng-if='widget.volume <= 10')
					i.fa.fa-volume-down(ng-if='widget.volume >= 11 && widget.volume <= 75')
					i.fa.fa-volume-up(ng-if='widget.volume >= 76')
					.progress
						.bar(ng-style='{width: widget.volume + "%"}')

				.widget#date(ng-show='widget.datetime')
					i.fa.fa-calendar
					span(ng-bind='widget.datetime.date')

				.widget#time(ng-show='widget.datetime')
					i.fa.fa-clock-o
					span(ng-bind='widget.datetime.time')

		#statusline-bg
		#statusline-loading(ng-hide='1')

	script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js')
	script(src='static/js/main.js')
